<%- include("partials/header") %>

<h1><%= curr_post.title %> </h1>

<p> <%= curr_post.content %> </p>



    <form class="" id="btnSearch"  action="/delete" method="post">
      <button type="submit"  class="btn btn-warning" name = "delete_btn" value= "<%=curr_post._id %>">Delete</button>
    </form>

    <a href="/update/<%=curr_post._id%>">
      <button type="button" id="btnClear"  class="btn btn-success" name="button">
        Update</button>
    </a>


<%- include("partials/footer") %>
